@tailwind base;
@tailwind components;
@tailwind utilities;
[x-cloak] {
    display: none;
}

:root {
    font-family: 'Nunito', sans-serif;
    --blue: #3C5393;
    --navbar: #CCCDCF;
    --complete: #1FAC3C;
    --red: #E33A3A;
    --input: #fff;
    --outline-input: #414141;
    --disabled: #E5E5E5;
    --disabled-outline: #B2B2B2;
    --overdue: #EF5B0C;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

* {
    font-family: 'Nunito', sans-serif;
}

button {
    border-radius: 5%;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -2px;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -2px;
}

h3 {
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: -1.5px;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: -1.5px;
}

h5 {
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: -.7px;
}

h6 {
    font-size: 1rem;
    font-weight: 200;
}

p {
    font-size: 1rem;
    font-weight: 400;
}
